.container{
    width: 100%;
    height: 500px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.container-box{
    width: 80%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 1px 4px 10px grey;
}
.text-div{
    width: 30%;

}
.image{
    border-radius: 10px;
    width: 250px;
    height: 250px;
}
.heading{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 40px;
}
.para{
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif
}
.button{
    padding: 10px 20px 10px 20px;
    font-weight: 700;
    background-color: lightblue;
    margin-top: 15px;
    border-radius: 5px;
    border: none;
}
@media screen and (min-width: 100px) and (max-width: 750px){
    .container-box{
        width: 100%;
        flex-direction: coloumn;
        
    }
    .image{
        width: 100px;
        height: 100px;
    }
    .text-div{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
    }
    .heading{
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 25px;
    }
    .para{
        margin-top: 15px;
        font-family: Arial, Helvetica, sans-serif;
        padding-left: 15px;
    }
    
    
    
    
    
}

.social-icons{
display: flex;
justify-content: center;
align-items: center;
}
.s-icon1 {
font-size: 35px;
color: red;
margin: 5px;
}
.s-icon2{
font-size: 30px;
color: blue;
margin: 5px;
}
.s-icon3{
font-size: 30px;
color: palevioletred;
margin: 5px;
}

